<!--<p style="font-size:14px; bottom:0%; margin-left: 15px;">Trademark 2018 &emsp;  All rights reserved &emsp; <a href='https://callsaulnow.com/wp-content/blogs.dir/351/files/2015/02/Screenshot-2015-02-23-18.53.36.png'>Lawyer stuff</a></p>-->
<!--<link rel="stylesheet" href="/stylesheets/style.css"> doesn't work??? -->
<footer class="page-footer font-small special-color-dark pt-4">
    <div class="footer-copyright text-center py-3 d-flex flex-column mt-auto">Trademark 2019 &emsp; All rights reserved &emsp;
        <a href="https://callsaulnow.com/wp-content/blogs.dir/351/files/2015/02/Screenshot-2015-02-23-18.53.36.png"> Lawyer Stuff</a>
    </div>
</footer>

</body>
</html>