<% include partials/header %>

<h1>Login</h1>

<form action="/login" method="POST" style="margin-bottom: 700;">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
</form>

<%  include partials/footer  %>