<% include partials/header %>

<h1 style="margin-left: 15px">Login</h1>

<form action="/login" method="POST" style="margin-bottom: 500px; margin-left: 15px">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
</form>

<%  include partials/footer  %>