<% include partials/header  %>

<h1 style="margin-left: 15px">Sign Up</h1>

<form action="/register" method='POST' style="margin-bottom: 500px; margin-left: 15px">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<%  include partials/footer  %>