html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    /*font-size: 100px;*/
    background-color: blue;
}

.delete-form {
    display: inline;
}

.show_img {
    width: 50%;
    height: 30%;
    margin-left: 5%;
    /*margin-right: auto;*/
}

.show_title {
    margin-left: 20%;
}

.show_desc {
    margin: 2em;
}

.thumbnail {
    padding: 0;
}

.row {
    margin: auto;
    /*padding: 1%;*/
}

.sub_by {
    padding: 10%;
}