<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
      <div class="container">
        <h2>Welcome to SportsTalk!</h1>
        <p>See what's new in sports related stuff</p>
        <p>
            <a class="btn btn-primary btn-large" href="/posts/new">Add new post</a>
        </p>
       </div>
    </header>

<div class="row">
    <div class="col-lg-12">
        <h3>Most popular posts</h3>
    </div>
</div>
<div class="row" style="display:flex; flex-wrap:wrap;">
<% posts.forEach(function(c){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= c.image %>" style="height: 225px; width: 350px">
            <div class="caption">
                <h4><%= c.title %></h4>
            </div>
            <p>
                <a href="/posts/<%= c._id %>" class="btn btn-primary">More Info</a>
            </p>
        </div>
    </div>
<% }); %>
</div>
</div>

<% include ../partials/footer %>